/* ========== dialog styling ========== */

/*--POST CLICKED DIALOG (moreinfo dialog)--*/
#post-clicked-dialog {
  height: 1080px;
  width: 1500px;
  background-color: black;
  border-radius: 25px;
  animation: fadeIn 0.3s;
  
}

#post-clicked-dialog p {
    color:white;
    font-size: 3em;
}

#post-clicked-dialog img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 125px;
}


#post-clicked-info {
  position: absolute;
  bottom: 100px;
  right: 50px;
}

/*update-post-dialog*/

#update-post-dialog {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Copperplate, sans-serif;
    color: white;
}

#update-post-dialog form {
    background: rgba(128, 128, 128, 0.267);
    width: 640px;
    margin: 50px auto;
    max-width: 97%;
    border-radius: 10px;
    padding: 55px 30px 40px 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.184);
    height: 100%; /* added */
}

#update-post-dialog .title h2 {
    letter-spacing: 5px;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 32px;
}

#update-post-dialog .half {
    display: flex;
    justify-content: space-between;
}

#update-post-dialog .half .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#update-post-dialog label{
    font-size: 13px;
    letter-spacing: 3.5px;
    margin-bottom: 16px;
}

#update-post-dialog .half .item input{
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding:16px ;
    width: 100%;
    height: 44px;
    background:transparent ;
    font-size: 17px;
}

#update-post-dialog .full{
    margin-bottom: 24px;
    padding-top: 10px;
}

#update-post-dialog .full textarea{
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 12px 16px;
    width: 100%;
    height: 200px;
    font-size: 17px;
}

#update-post-dialogform .action{
    margin-bottom: 30px;
}

#update-post-dialog .full label {
  display: block;
  text-align: center;
}

#update-post-dialog form .action input{
    background: rgba(128, 128, 128, 0.267);
    border-radius: 2px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    height: 26px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0 10px 0 12px;
    margin-right: 10px;
}

#update-post-dialog .item1,
#update-post-dialog .item2,
#update-post-dialog .item3 {
  text-align: center;
}

#update-post-dialog .item1 input,
#update-post-dialog .item2 input,
#update-post-dialog .item3 input{
    background-color: rgba(255, 255, 255, 0.277);
    border: 1px solid white;
}


/*delete-post-dialog*/
#delete-post-dialog {
    background: rgba(128, 128, 128, 0.267);
    width: 640px;
    margin: 50px auto;
    max-width: 97%;
    border-radius: 10px;
    padding: 55px 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.184);
    height: 200px;
    text-align: center;
    font-family: Copperplate, sans-serif;
    color: white;
    animation: fadeIn 0.3s;
}

#btn-cancel{
    position: absolute;
    left: 125px;
    width: 100px;
    background: rgba(128, 128, 128, 0.267);
    border-radius: 2px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    height: 26px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0 10px 0 12px;
}

#confirm-delete {
    position: absolute;
    right: 125px;
    width: 100px;
    background: rgba(128, 128, 128, 0.267);
    border-radius: 2px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    height: 26px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0 10px 0 12px;
}